@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
:root{
    --white: #FFFFFF;
    --black: #000000;
    --text-input-field: #f5f6f7;
    --blue-face: #1877f2;
    --green-face: #42b72a;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.mobile-menu{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 24px;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--text-input-field);
    padding-bottom: 24px;
}
.mobile-menu ul:nth-child(2){
    margin: 0;
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.email{
    font-size: 14px;
    font-weight: 200 !important;
}
.sign-out{
    color: var(--blue-face) !important;
    font-size: 15px;
}